.position-absolute {
    position: absolute !important;
}

.main-banner-content {
    position: relative;
}

.main-banner-content a {
    overflow: hidden;
}

.main-banner-content a img {
    position: absolute;
    top: 0;
    left: 50%;
}

.main-banner-content a img.loading {
    top: 50%;
    margin-top: -16px;
}

.video-preview-block img {
    max-width: 100%;
    max-height: 100%;
}

.video-wrapper-block {
    float: left;
}

.social-widget-block iframe {
    max-width: 100%;
}

.telegram-widget {
    width: 100%;
    height: 485px;
    border: 1px solid #eee;
    box-sizing: border-box;
}

.filter-device-content .left-block > a {
    font-size: 13px;
    position: relative;
    display: block;
    margin: 8px 0;
    padding: 5px 0 5px 10px;
    color: #4f515e;
}

.filter-device-content .left-block > a.active {
    font-weight: bold;
}

.fast-category-link a:nth-child(n+6) {
    display: none;
}

.fast-category-link a:last-child {
    display: inline-block;
}

i.cart-total {
    font-style: normal;
}

.cart-empty-message {
    padding-top: 50px;
}

.order-delivery-details {
    display: none;
}

.select-list-search input {
    width: 100%;
    padding: 5px;
    margin: -5px -5px 0;
    outline: none;
}

.radio.disabled:before {
    border-color: #7c7c97;
}

.radio.disabled.active:before {
    background: #7c7c97;
}

.order-form-wrapper {
    position: relative;
}

.order-form-overlap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.order-form-overlap div {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -20px;
    text-align: center;
    font-size: 16px;
}

.order-form-overlap div a {
    color: #ff9f15;
    text-decoration: underline;
}

.header-search-popup {
    position: absolute;
    z-index: 2;
    width: 400px;
    top: 75px;
    background: #fff;
    border: 1px solid #efefef;
    box-shadow: 0 0 5px #ddd;
    display: none;
}

.header-search-popup-wrapper {
    padding: 10px 0;
    max-height: 475px;
    overflow-y: auto;
}

.header-search-product {
    padding: 5px 10px;
    display: block;
    color: #4f515e;
}

.header-search-product:hover {
    background: #f0f0f0;
}

.header-search-product .left-block {
    width: 25%;
    padding: 0 5px;
    box-sizing: border-box;
}

.header-search-product .left-block img {
    max-width: 100%;
}

.header-search-product .right-block {
    width: 75%;
    padding: 0 10px;
    box-sizing: border-box;
}

.header-search-name {
    display: block;
    margin-bottom: 20px;
    line-height: 1.4;
}

.header-search-price b {
    margin-right: 15px;
}

.header-search-total {
    text-align: center;
    display: block;
    padding: 15px 0;
    border-top: 2px solid #ff9f15;
    color: #ff9f15;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}

.header-search-total:hover {
    color: #fff;
    background: #ff9f15;
}

.header-search-close {
    display: none;
}

@media (max-width: 829px) {
    .header-menu-block {
        overflow: hidden;
    }

    .header-search-popup {
        top: 54px;
    }
}

@media (max-width: 650px) {
    .header-search-popup {
        position: fixed;
        top: 54px;
        left: 0;
        bottom: 0;
        width: 100%;
        box-shadow: none;
    }

    .header-search-active .header-search-block {
        position: absolute;
        left: 40px;
        padding-left: 5px;
        right: 0;
        width: auto;
        background: #fff;
        z-index: 2;
    }

    .header-search-active .header-search-popup-wrapper {
        padding: 10px 0;
        position: absolute;
        bottom: 45px;
        top: 0;
        max-height: none;
    }

    .header-search-active .header-search-total {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .header-search-active .header-search-close {
        display: block;
        position: absolute;
        top: 18px;
        left: -27px;
        background-color: #fff;
        width: 18px;
        height: 18px;
        background-size: 18px;
    }

    .header-search-active .mobile-btn-menu {
        display: none;
    }
}

.profile-search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 1px solid;
}

.profile-search-form .field {
    margin: 5px;
    width: 20%;
}

.profile-search-form .field input, .profile-search-form .field select {
    width: 100%;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-field {
    display: flex;
    align-items: flex-end;
}

/*!
Pure v2.0.3
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/pure-css/pure/blob/master/LICENSE.md
*/
.pure-button {
    /* Structure */
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Firefox: Get rid of the inner focus border */
.pure-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* Inherit .pure-g styles */
.pure-button-group {
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

.opera-only :-o-prefocus,
.pure-button-group {
    word-spacing: -0.43em;
}

.pure-button-group .pure-button {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

/*csslint outline-none:false*/

.pure-button {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.80);
    border: none rgba(0, 0, 0, 0);
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

.pure-button-hover,
.pure-button:hover,
.pure-button:focus {
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.10)));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
}

.pure-button:focus {
    outline: 0;
}

.pure-button-active,
.pure-button:active {
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
    border-color: #000;
}

.pure-button[disabled],
.pure-button-disabled,
.pure-button-disabled:hover,
.pure-button-disabled:focus,
.pure-button-disabled:active {
    border: none;
    background-image: none;
    opacity: 0.40;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
}

.pure-button-hidden {
    display: none;
}

.pure-button-primary,
.pure-button-selected,
a.pure-button-primary,
a.pure-button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

.pure-button-yellow,
.pure-button-yellow-selected,
a.pure-button-yellow,
a.pure-button-yellow-selected {
    background-color: #ff9f15;
    color: #fff;
}

/* Button Groups */
.pure-button-group .pure-button {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);

}

.pure-button-group .pure-button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.pure-button-group .pure-button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.main-left-block {
    width: 49%;
    float: left;
}

.main-right-block {
    width: 49%;
    float: right;
}

.main-left-block .input-field, .main-right-block .input-field {
    position: relative;
    margin: 13px 0px;
    width: 50%;
}

.main-left-block .input-field > input, .main-right-block .input-field > input {
    width: 95%;
}

.main-left-block .input-field input, .main-right-block .input-field input {
    height: 23px;
}

.input-field > .city-select {
    width: 95%;
    margin: 7px 0 20px;
}

.button-block {
    width: 100%;
    float: left;
    border-bottom: 1px solid;
    padding-bottom: 17px;
}

.w-100 {
    width: 100% !important;
}

.ml-1 {
    margin-left: 10px;
}

.search-orders-block {
    width: 100%;
    float: left;
}

.photo-viewer-description {
    height: auto;
    margin: 12px 0 12px;
    display: block;
}

.product-big-photo-content {
    width: 100% !important;
    height: 100% !important;
}

.product-big-photo-content > div {
    width: 100% !important;
    height: 100% !important;
}

.btn-switch .btn-switch-left {
    z-index: 555555;
}

.photo-viewer-description .title-block {
    font-size: 24px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin: 0;
}

.photo-viewer-right-block {
    width: 98%;
    height: auto;
    padding: 8px;
    margin: 0 auto;
    display: block;
}

.btn-switch-left {
    z-index: 5555555 !important;
}

.photo-viewer-wrapper .product-price-block {
    float: left;
    width: 265px;
    text-align: center;
    line-height: 23px;
    margin: 0;
    padding-top: 26px;
}

.product-info-block-modal div.product-colors-block {
    width: 60%;
}

/* width */
.product-info-block-modal div.product-colors-block::-webkit-scrollbar {
    width: 3px;
}

.photo-viewer-right-block .cart-block {
    width: 100%;
    display: flex;
    float: unset;
    margin: 0 auto;
    justify-content: center
}

.title-big-block {
    width: 100%;
    float: left;
    position: relative;
}

.close-block {
    width: 10%;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    float: inherit;
    background: rgba(255, 255, 255, 0.92);
}

.btn-switch-down-modal {
    z-index: 55555;
}

.close-block .btn-close {
    position: unset !important;
    margin: 8px auto;
    background-size: 15px;
    width: 15px;
    float: none;
    height: 15px;
}

.left-arrow-block {
    left: 0;
}

.right-arrow-block .btn-switch-right {
    right: 0 !important;
}

.left-arrow-block .btn-switch-left {
    left: 0 !important;
}

.right-arrow-block {
    right: 0;
}

.left-arrow-block, .right-arrow-block {
    position: absolute;
    width: 64px;
    top: 0;
    z-index: 444;
    height: 100%;
    transition: all 1s;
}

/* Track */
div.product-colors-block::-webkit-scrollbar-track {
    background: #cccccc;
}

/* Handle */
.div.product-colors-block::-webkit-scrollbar-thumb {
    background: #000 !important;
}

/* Handle on hover */
div.product-colors-block::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mobile-colors-block {
    float: none;
    width: 60%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-viewer-description .btn-buy {
    font-size: 15px;
    line-height: 49px;
    margin-top: 14px;
    height: 48px;
    padding: 0px 34px;
    float: left;
    background-position: 33px center;
}

.bottom-24 {
    bottom: 24px !important;
}

.product-colors-block > div {
    float: left;
}

.product-photo-preview {
    position: absolute;
    top: 0;
    left: 10px;
}

.mobile-photo-dots > div.active {
    background: #4f515e;
}

.mobile-photo-dots > div {
    display: inline-block;
    width: 10px;
    height: 1px;
    margin: 10px 5px;
    background: #dbdbe6;
}

.photo-viewer-content .product-big-photo {
    margin: 0 auto;
    float: unset;
}

.photo-viewer-wrapper .btn-buy {
    display: block;
    float: left;
    margin: 18px 32px 0;
}

.product-big-photo .right-block {
    height: 100%;
}

.photo-viewer-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 97%;
    margin: 0;
    justify-content: flex-start;
}

.photo-viewer-content {
    height: 74%;
    display: block;
}

.product-big-photo-bottom,
.product-big-photo-bottom > .photo-viewer-image,
.product-photo-preview-bottom,
.product-photo-preview-bottom > .product-preview-wrapper {
    height: 100% !important;
}

.orange-popup.product-added {
    z-index: 22222;
}

.mobile-photo-dots {
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
    height: 17px;
    /*z-index: 11;*/
    z-index: 0;
    padding-bottom: 13px;
    display: block;
    text-align: center;
}

.product-show-all-photos-modal {
    z-index: 55555;
}

.product-preview-slider {
    /*width: 100% !important;*/
    /*left: 0 !important;*/
}

.new-popup-modal{
    background: white;
    left: 0;
    right: 0;
}

@media (max-width: 1790px) and (min-width: 1320px) {
    .photo-viewer-image {
        width: 80%;
    }
}

@media (max-width: 1019px) and (min-width: 1200px) {
    .photo-viewer-content {
        width: 66%;
    }
}

@media (max-width: 1319px) and (min-width: 1020px) {
    .photo-viewer-content .product-big-photo {
        width: 74%;
        height: 530px;
    }
}

@media (max-width: 1019px) and (min-width: 1200px) {
    .photo-viewer-content {
        width: 66%;
    }
}

@media (max-width: 1019px) and (min-width: 830px) {
    .photo-viewer-content .product-big-photo {
        width: 609px;
    }
    .mini-prices,.new-popup-modal{
        display: flex;
        justify-content: center;
    }
    .new-popup-modal{
        margin-left: 0;
    }
    .mini-prices>span,.new-popup-modal>span{
        margin: 5px 9px!important;
    }
    .mobile-colors-block{
        width: 73%!important;
    }
}

@media (max-width: 1300px) {
    .photo-viewer-right-block .mobile-colors-block, .photo-viewer-right-block .cart-block {
        width: 79%;
    }
}

@media only screen and(max-width: 1160px) {
    .photo-viewer-right-block {
        width: 97%;
    }

    .photo-viewer-wrapper .btn-buy {
        margin: 13px 11px 0;
    }
}


@media only screen and (max-width: 1020px) {
    .main-left-block, .main-right-block {
        width: 100%;
    }
}

@media only screen and (max-width: 1019px) {
    .photo-viewer-description .btn-buy {
        margin-top: 19px;
        margin-right: 44px;
    }
    .photo-viewer-wrapper .product-price-block {
        width: 272px;
    }
}

@media only screen and (max-width: 850px) {
    .photo-viewer-right-block .cart-block{
        width: 97%;
    }
}

@media only screen and (max-width: 830px) {
    .photo-viewer-content{
        margin-bottom: 30px;
    }
    .left-arrow-block:hover, .right-arrow-block:hover {
        background-color: #1904040f;
        cursor: pointer;
    }

    .main-left-block .input-field, .main-right-block .input-field {
        width: 100%;
    }

    .main-left-block .input-field > input, .main-right-block .input-field > input {
        width: 100%;
    }

    .photo-viewer-right-block {
        width: 100%;
    }

    .photo-viewer-description {
        margin: 22px 0 0;
        height: auto;
        display: block;
    }

    .photo-viewer-description .title-block {
        font-size: 21px;
        width: 90%;
        text-align: left;
    }

    .photo-viewer-wrapper {
        margin-top: 0;
        display: block;
    }

    .title-big-block .close-block {
        position: unset;
        float: right
    }

    .photo-viewer-description .btn-buy {
        margin-top: 0px;
        margin-right: 0px;
    }

    .photo-viewer-block {
        z-index: 1111;
    }

}

@media only screen and (max-width: 825px) {
    .product-colors-block > div {
        float: left;
    }

    .photo-viewer-right-block {
        margin: 0px 0px;
        float: unset;
        height: auto;
        padding: 0;
        display: block;
        position: unset;
    }

    .photo-viewer-wrapper .product-price-block {
        width: 50%;
        padding-top: 9px;
    }

    .photo-viewer-right-block .cart-block {
        width: 94%;
        margin: 0 auto;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobile-colors-block {
        width: 100% !important;
        margin: 0;
        height: auto;
        padding-bottom: 10px;
    }

    .photo-viewer-wrapper .btn-buy {
        float: right;
        line-height: normal;
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
        font-size: 16px;
        max-width: 140px;
        height: 53px;
        padding: 18px 0;
        margin: 5px 8px;
        text-align: center;
        border-radius: 5px;
        background-position: 10px center;
        background-size: 24px 24px;
    }

    .photo-viewer-content {
        /*height: 50%;*/
        display: block;
    }
}

@media only screen and (max-width: 590px) {
    .photo-viewer-wrapper .product-price-block-modal{
        width: 55%;
        padding-top: 9px;
        font-size: 1px;
    }
    .product-price-block-modal span{
        margin: 0 3px;
        font-size: 13px;
    }
    .photo-viewer-right-block .cart-block {
        width: 100%;
        margin: 0 auto;
        display: block;
        float: left;
        height: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 500px) {
    .close-block .btn-close {
        margin: 4px auto;
    }

    .photo-viewer-description .title-block {
        font-size: 17px;
    }

    .product-big-photo img {
        /*width: 100%;*/
    }
}

@media only screen and (max-width: 460px){
    .product-price-block-modal span {
        font-size: 12px;
    }
    .product-price-block-modal p,.product-price-block-modal p b{
        font-size: 18px;
    }
    .photo-viewer-wrapper .btn-buy {
        height: auto;
        padding: 13px 0;
        margin: 14px 5px;
        font-size: 6px;
        max-width: 91px;
        background-position: 7px center;
        background-size: 18px 16px;
    }
    .photo-viewer-wrapper .btn-buy span {
        font-size: 9px;
        margin-right: 7px;
    }
}
@media only screen and (max-width: 460px) {
  .photo-viewer-wrapper .product-price-block-modal {
    margin-left: 0%;
    width: 230px;
  }
}
@media only screen and (max-width: 359px) {
  .photo-viewer-wrapper .product-price-block-modal {
    margin-left: -2%;
    width: 200px;
  }
}
