.float-right {
  float: right;
}
.float-left {
  float: left;
}
/* Button */
.btn {
  font-size: 16px;
  box-sizing: border-box;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}
.btn-small {
  padding: 1px 5px!important;
}
.btn-warning {
  color: #fff;
  border: 1px solid #ff7f15;
  background: #FF9F15;
}
.btn-warning:hover {
  background: #ff7f15;
}
.btn-green {
  color: #fff;
  border: 1px solid #5cad2a;
  background: #6cca32;
}
.btn-green:hover {
  background: #5cad2a;
}
.btn-default {
  color: #1A1919;
  border: 1px solid #d9d9db;
  background: #F4F4F5;
}
.btn-default:hover {
  background: #d9d9db;
}
.btn-disable {
  color: var(--color-light-grey);
  border: 1px solid var(--color-light-grey);
  background: var(--color-white);
  pointer-events: none;
}
.btn-danger {
  color: #fff;
  border: 1px solid #b80625;
  background: #cb3a53;
}
.btn-danger:hover {
  background: #b80625;
}
.btn-outline-orange {
  border: 1px solid #ff9f15;
  border-radius: 4px;
  background-color: #fff;
}
.btn-outline-orange .active {
  background-color: #ff9f15;
  color: #fff;
}
.orange-link {
  color: #ff9f15 !important;
  text-decoration: underline;
}
.position-unset {
  position: unset!important;
}
.hidden {
  display: none !important;
}
.inline-block {
  display: inline-block !important;
}
.border-box {
  box-sizing: border-box;
}
.border-radius {
  border: 1px solid;
  border-radius: 2px;
}
.border-top {
  border-top: 1px solid #e9e9ea;
}
.border-bottom {
  border-bottom: 1px solid #e9e9ea;
}
.height-a {
  height: auto!important;
}
.orange-link {
  color: #ff9f15 !important;
  text-decoration: underline;
}
.font-style-normal {
  font-style: normal;
}
.font-weight-bold {
  font-weight: bold;
}
/* Text */
.text-center {
  text-align: center;
}
.text-red {
  color: #b80625 !important;
}
.text-white {
  color: var(--color-white);
}
.text-orange {
  color: var(--color-orange) !important;
}
.text-green {
  color: var(--color-green) !important;
}
.text-grey {
  color: var(--color-grey) !important;
}
.text-white {
  color: #fff !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.position-r {
  position: relative !important;
}
.pointer-events {
  pointer-events: none;
}
.cursor_p {
  cursor: pointer !important;
}
.cursor_crosshair {
  cursor: crosshair !important;
}
/* Margin */
.m-5 {
  margin: 5px !important;
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.mr-auto {
  margin-right: auto;
}
.mt-0 {
  margin-top: 0 !important;
}
.mt-5 {
  margin-top: 5px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.ml-19 {
  margin-left: 20% !important;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-50 {
  margin-left: 50px;
}
.mr-25 {
  margin-right: 25px;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.pt-0 {
  padding-top: 0!important;
}
.pt-5 {
  padding-top: 5px!important;
}
.pt-20 {
  padding-top: 20px!important;
}
.pr-10 {
  padding-right: 10px!important;
}
.p-5 {
  padding: 5px;
}
.p-10 {
   padding: 10px;
 }
.width-a {
  width: auto!important;
}
.w-50 {
  width: 50% !important;
}
.wt-70 {
  width: 70% !important;
}
.w-90 {
  width: 90% !important;
}
.bg-orange-select {
  background: rgba(246, 209, 99, 0.3);
}
.bg-orange {
  background-color: var(--color-orange);
}
.bg-soon {
  background-color: var(--color-blue);
}
.bg-white-red {
  background-color: var(--color-white-red);
}
.bg-ucenka {
  background-color: var(--color-light-red);
}
.bg-out-stock {
  background-color: var(--color-red);
}
.bg-light-red {
  background-color: rgba(184, 6, 37, 0.2);
}
.bg-in-stock {
  background-color: var(--color-green);
}
.label {
  color: var(--color-white);
  padding: 3px 3px;
  text-align: center;
}
/* для отметок типа: новинка, скоро, скидки ... */
.marker {
  position: absolute;
  right: 0;
  width: auto;
  min-width: 52px;
  height: 18px;
  color: var(--color-white);
  font-family: 'OpenSansBold', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
  line-height: normal;
  border-radius: 6px;
  padding: 3px 3px 0px 3px;

}
.marker:hover {
  box-shadow: 0 0 3px rgb(0 0 0 / 50%);
}

@media (max-width: 830px) {
  .marker {
    font-size: 10px;
    padding: 4px 3px 0;
  }
}
.marker-standard {
  background-color: var(--color-white);
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
}
.marker-coming {
  background-color: var(--color-orange);
}
.marker-new {
  background-color: var(--color-light-green);
}
.marker-soon {
  background-color: var(--color-blue);
}
.marker-sale {
  background-color: var(--color-red);
}
.marker-markdown {
  background-color: var(--color-light-red);
}
.btn-remove {
  background: url('../images/close_orange_icon.svg?1.1.1') no-repeat
}
.check-mark:after {
  content: '\2714';
  font-size: 20px;
  color: var(--color-green);
  font-weight: bolder;
  margin: 10px;
}
.btn-sorting {
  position: relative;
  font-size: 13px;
}

/* Flex */
.flex{
  display:flex;
}
.flex-direction-row{
  flex-direction:row;
}
.flex-direction-column{
  flex-direction:column;
}
.justify-center{
  justify-content:center;
}
.justify-between{
  justify-content:space-between;
}
.justify-around{
  justify-content: space-around;
}
.justify-flex-end {
  justify-content: flex-end;
}
.justify-left{
  justify-content:left;
}
.justify-right{
  justify-content:right;
}
.align-center{
  align-items:center;
}
.align-justify {
  text-align: justify;
}
.flex-wrap {
  flex-wrap: wrap;
}
.bold{
  font-weight:bold;
}
/* Select */
select.orange-border {
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  padding: 5px;
}
select.select-block {
  display: block;
  height: 20px;
  font-size: 16px;
  border: 0;
  color: #4f515e;
  border-bottom: 1px solid #d1d2d5;
}
select.select-block:focus {
  outline: none;
}
.input-bottom {
  border: 0;
  border-bottom: 1px solid #d1d2d5;
}
.arrow-up {
  margin: auto;
  width: 20px;
  height: 15px;
  background: url(../images/arrow_down_hover.svg) right center no-repeat;
}
.arrow-down {
  margin: auto;
  width: 20px;
  height: 15px;
  background: url(../images/arrow_down.svg) right center no-repeat;
}
.box-shadow-hover:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(146, 151, 168, .5);
  -moz-box-shadow: 0 0 10px 0 rgba(146, 151, 168, .5);
  box-shadow: 0 0 10px 0 rgba(146, 151, 168, .5);
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  background: rgba(119, 115, 115, 0.5);
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.modal-show {
  display: block !important;
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  height: 100%;
}
.modal-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;
  margin: auto;
}
.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(.3rem - 1px);
  border-top-right-radius: calc(.3rem - 1px);
}
.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
  font-weight: bold;
}
.modal-header .close-modal {
  width: 25px;
  height: 25px;
  margin: 0rem 0rem -2rem 1rem;
  float: right;
  line-height: 1;
  background: url(../images/close_black_icon.svg) no-repeat #fff;
}
.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  overflow: auto;
}
.modal-footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: .75rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: calc(.3rem - 1px);
  border-bottom-left-radius: calc(.3rem - 1px);
}
/* End Modal */
@media (max-width: 830px) {
  .popup-modal {
    top:-175px!important;
  }
}
.popup-modal {
  position: absolute!important;
  top:-130px;
}
.popup{
  z-index: 2;
  background: #fff;
  color: #bbb;
  box-sizing: border-box;
  padding: 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0 0 14px 0 rgb(186 189 203 / 50%);
  -moz-box-shadow: 0 0 14px 0 rgba(186,189,203,.5);
  box-shadow: 0 0 14px 0 rgb(186 189 203 / 50%);
}
.popup p {
  font-size: 14px;
}

/* support: IE8 - See #6727 */
.ui-tooltip {
  padding: 8px 8px 8px 30px;
  position: absolute;
  z-index: 2!important;
  width: auto !important;
  height: auto !important;
  overflow:auto !important;
  max-width: 300px!important;
}
body .ui-tooltip {
  border-width: 2px;
}
.ui-tooltip {
  font-size: 13px!important;
  text-align: center!important;
  color: #4f515e!important;
  border: 1px solid #ff9f15!important;
  border-radius: 10px!important;
  background: #fff9f2!important;
}
.ui-tooltip:before {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 23px;
  height: 22px;
  content: '';
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: url(../images/info_icon.svg) center no-repeat #ff9f15;
}
.sorting-panel .checkbox-revers{
  font-size: 14px!important;
  line-height: 1;
  font-family: LatoRegular,sans-serif;
  color: #4f515e;
  margin: 0!important;
}
.price-range-width {
  width: 310px;
  margin: 0px;
}
@media (max-width: 829px) {
  .price-range-width {
    margin: auto;
    padding-top: 10px;
  }
}
.overscroll-behavior-y {
  overscroll-behavior-y: none;
  touch-action: none;
}
.decimal li {
  list-style: decimal inside !important;
}
.arrow_right_icon:before {
  position: absolute;
  right: 25px;
  width: 5px;
  height: 9px;
  content: '';
  background: url(../images/arrow_right_icon.svg) no-repeat;
}
.arrow_down_icon:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(
    90deg
  );
}
.youtube-block {
  position: relative;
  width: 100%;
  height: 0;
  background-color: #0d0e13;
  /*background: url(../images/btn-main-play.svg) no-repeat;*/
}
.youtube__cover {
  position: absolute;
  top: 0;
  left: 0;
  /*width: 100%;*/
  /*height: 100%;*/
  border: none;
}
.youtube__iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: none;
}
.youtube-block--enabled {
  cursor: pointer;
}
.youtube-block--enabled .youtube__button {
  display: block;
}
.youtube__button {
 position: absolute;
  top: 50%;
  left: 50%;
  padding: 0;
  width: 68px;
  height: 48px;
  border: none;
  outline: none;
  display: none;
  background-color: transparent;
  transform: translate(-50%, -50%);
}
.youtube__button-shape {
  fill: #212121;
  fill-opacity: 0.8;
}
.youtube-block:hover .youtube__button-shape,
.youtube__button:focus .youtube__button-shape{
  fill: #ff0000;
  fill-opacity: 1;
}
.youtube__button-icon {
  fill: #fff;
}
.block-overflow--hidden {
  overflow: hidden;
}