.design-step {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}
.design-step__item {
  width: 120px;
  margin: 10px;
}
.information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block__item {
  line-height: 1.5;
  box-sizing: border-box;
  margin: 15px;
  min-width: 260px;
  max-width: 260px;
}
.block__item span {
  float: left;
}
.information .img {
  box-sizing: border-box;
  margin-right: 5px;
}