.block {
  float: left;
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
}

/* Product Block */
.product-block {
  position: relative;
  /*height: 610px;*/
  height: 600px;
}
.product-wrapper {
  overflow-y: hidden;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0.3rem;
  border-radius: 5px;
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
}
.product-wrapper:hover {
  -webkit-box-shadow: 0 0 14px 0 rgba(190,190,194,.5);
  -moz-box-shadow: 0 0 14px 0 rgba(190,190,194,.5);
  box-shadow: 0 0 14px 0 rgba(190,190,194,.5);
}
.product-block.active .product-wrapper {
  z-index: 1;
  overflow-y: visible;
  height: auto;
}
.product-block .product-code > p > a {
  color: #fff;
}

/* Wish list */
.wish-button {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  padding: 0;
}
.wish-button:hover svg {
  fill: #fcc10a;
}
.wish-button__selected svg {
  fill: #fcc10a !important;
}
.wish-button svg {
  vertical-align: middle;
  stroke: #fcc10a;
  stroke-width: 2px;
  fill: #fff;
}
.wish-button-inform__select {
  color: #fff;
  background-color: #FF9F15;
  box-shadow: inset 0 0 0 1px #ff9600;
}
.wish-button-inform {
  color: #02142a;
  background-color: #c8cacc;
  box-shadow: inset 0 0 0 1px #8aa1b8;
}

/* product-colors */
.product-colors-wrapper {
  overflow-y: hidden;
  /*height: 28px;*/
  height: 50px;
  text-align: center;
}
.product-material select {
  font-size: 12px!important;
}
.product-material {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-material select.select-block {
  margin: 0;
}
.product-material-btn-buy {
  line-height: normal;
  font-size: 15px;
  box-sizing: border-box;
  width: 100%;
  display: block;
  text-align: center;
  padding: 7px 0;
  /*margin-top: -20px;*/
  margin-top: -10px;
  border-radius: 3px;
  color: #fff;
  background-color: #ff9f15;
  height: 35px;
}
.product-material-btn-buy:hover span {
  display: block;
}
.product-material-btn-buy span {
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  max-width: 76px;
  margin: 0 auto;
  padding: 7px 0 3px 35px;
  background: url('../images/cart_icon.svg') left 4px no-repeat;
  background-size: 23px 20px;
}
.btn-buy {
  z-index: 1;
}

.product__availability:before {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: '';
  background: url('../images/available_icon.svg');

}
/* MEDIA */
@media (min-width: 320px) {
  .product-list-wrapper .block {
    margin-bottom: 5rem;
  }
  .block {
    width: 100%;
    margin-bottom: 6rem;
  }
  .print-select-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 361px) {
  .product-list-wrapper .block {
    margin-bottom: 5rem;
  }
  .block {
    width: 50%;
    margin-bottom: 6rem;
    padding-left: 0;
    padding-right: 0;
  }
  .product-wrapper {
    padding-left: 8px;
    padding-right: 8px;
  }
  .block:nth-child(2n) .product-wrapper {
    margin-left: 0;
    margin-right: 5px;
  }
  .block:nth-child(odd) .product-wrapper {
    margin-right: 0;
    margin-left: 5px;
  }
  .print-select-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 500px) {
  .product-list-wrapper .block {
    margin-bottom: 1rem;
  }
  .block {
    margin-bottom: 3rem;
  }
  .print-select-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 565px) {
  .block {
    width: 33.33333333333333%;
    padding: 1rem;
  }
  .product-wrapper {
    padding: 1rem;
    margin: 0.3rem;
  }
  .block:nth-child(2n) .product-wrapper {
    margin: 0.3rem;
  }
  .block:nth-child(odd) .product-wrapper {
    margin: 0.3rem;
  }
  .print-select-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 830px) {
  .block {
    width: 25%;
    margin-bottom: 2rem;
  }
  .product-material {
    min-height: 70px;
    font-size: 14px;
  }
  .product-material-btn-buy {
    display: none;
  }
  .print-select-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (min-width: 960px) {
  .block {
    width: 25%;
  }
  .product-material {
    /*min-height: 70px;*/
  }
}
@media (min-width: 1020px) {
  .block {
    width: 20%;
  }
  .product-material {
    /*min-height: 70px;*/
  }
}

@media (max-width: 829px) and (min-width: 500px) {
  .product-block {
    height: 375px;
  }
  .product-wrapper {
    min-height: 375px;
  }
  .product-image {
    height: 185px;
  }
  .product-name {
    font-size: 12px;
    height: 50px;
  }
  .product-price p b,
  .product-price p .price-default {
    font-size: 14px;
  }
  .product-price p {
    font-size: 12px;
  }
  .product-block .btn-buy {
    width: 40px;
    height: 40px;
  }
  .product-colors-wrapper a {
    width: 15px;
    height: 15px;
  }
  .btn-more-color {
    font-size: 11px;
  }
  .product-block.product-big-block .btn-buy span {
    padding-top: 7px;
    background-position: left 4px;
  }
  .product-block.product-big-block.active .product-colors {
    /*padding-bottom: 14px;*/
  }
  /*.product-block.product-big-block {*/
  /*  height: 390px;*/
  /*}*/
  .product-block.product-big-block .product-wrapper {
    min-height: 390px;
  }
}
.sorting-panel {
  max-width: 525px;
}
@media (max-width: 1019px) and (min-width: 830px) {
  .product-block {
    /*height: 500px;*/
    height: 480px;
  }
  .product-block .product-image {
    height: 200px;
    /*line-height: 200px;*/
  }
  .product-block .product-code > p {
    font-size: 9px;
  }
  .product-block .product-code > a {
    width: 40%;
  }
  .product-block .product-price p {
    font-size: 14px;
  }
  .product-block .product-price p b {
    font-size: 15px;
  }
  .product-block .btn-buy {
    right: 10px;
    bottom: 30px;
    padding: 0 10px;
  }
}
@media (max-width: 829px) and (min-width: 499px) {
  .product-block.product-big-block {
    height: 380px;
  }
}
@media (max-width: 829px) {
  .sorting-panel {
    max-width: 375px;
  }
}
@media (max-width: 499px) {
  .product-block.product-big-block {
    height: 340px;
  }
}