:root {
  --color-orange: #ff9f15;
  --color-blue: #5491ff;
  --color-red: #b80625;
  --color-light-red: #FF6666;
  --color-white-red: #ffeed6;
  --color-green: #6cca32;
  --color-light-green: #73D098;
  --color-white: #fff;
  --color-grey: #4f515e;
  --color-light-grey: #a2a2a5;
}